
.card {
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    margin: 16px;
    width: 300px;
  }
  
  .card-image {
    width: 100%;
    height: auto;
    display: block;
  }
  
 .card-title{
    font-size: 20px;
 }