.cardContent{

    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colonnes égales */
    gap: 30px; /* Espacement entre les éléments */
}
.cardContent{
    position: relative;
}
/* Ajoutez des styles spécifiques pour chaque élément si nécessaire */
.titleHome,.host  {
    grid-row: 1; /* Première ligne */
}
.host{
    position: absolute;
    right: 1px;
    top: 26px;
    display: flex;
    align-items: center;
    width: 167px;
    height: 64px;
    gap: 20px;
    justify-content: flex-end;
}

.locationHome {
    grid-row: 2; /* Deuxième ligne */
}
.tag, .rate{
    grid-row: 3; /* Troisième ligne */
}
.rate{
    position: absolute;
    right: 1px;
}
.ficheDetails1, .ficheDetails2{
    grid-row: 4; /* Quatrième ligne */
}

.cardFiche{
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-top: 35px;
    margin-bottom: 35px;
}
.imgFiche{
    width: 100%;
    height: 650px;
    display: block;
}
.btnCarosselRight, .btnCarosselLeft{
    position: absolute;
    top: 34%;
    border: none;
    background-color: transparent;
    width: 96px;
    height: 119.64px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1; /* S'assurer que les boutons sont au-dessus de l'image */
    color: white;
    
}
.btnCarosselRight:active, .btnCarosselLeft:active {
    border-color: transparent; /* Supprimer la bordure au clic */
    outline-color: transparent; /* Supprimer l'effet de focus au clic */
}

.btnCarosselRight {
    right: 100px; 
}

.btnCarosselLeft {
    left: 100px; 
}
.chevronCarossel{
    width: 46.68px;
    height: 79.2px;
    top: 8.4px;
    left: 23.36px; 
}
.ficheTitle, .ficheDetails{
    display: flex;
    gap: 100px;
    width:98%;
    
}
.ficheTitle{
    justify-content: space-between;
    margin-top: 30px;
}
.titleHome{
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 500;
    line-height: 51.34px;
    text-align: left;
    color: #FF6060;
    
}
.locationHome{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 25.67px;
    text-align: left;
    color:black;
    
}

.hostName{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 25.67px;
    text-align: right;
    color: #FF6060;
    
}
.hostPhoto img{
    border-radius: 50%;
}
.tag{
    display: flex;
    gap:10px;
}
.ficheRate{
    display: flex;
    justify-content: space-between;
}
.dropdown{
    width: 98%;
   
}
.chevron {
    
    transition: transform 0.3s;
    font-size: 30px;
}

.chevron.open {
    transform: rotate(180deg);
}
.dropdown-button{
    display: flex;
    justify-content: space-between;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 25.67px;
    text-align: left;
    width: 100%;
    padding: 10px 20px 10px 10px;
    gap: 0px;
    border-radius: 10px;
    opacity: 0px;
    background: #FF6060;
    color:white;
}
.dropdown-content{
    background: #F6F6F673;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.67px;
    text-align: left;
}
.dropdown-content ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}
.carossel-content{
    position: relative;
}
@media (max-width: 768px) {
    .imgFiche{
        height: auto;
    }

    .titleHome {
        grid-row: 1; 
    }

    .locationHome {
        grid-row: 2; 
        font-size: 14px;
        line-height: 19.96px;
    }

    .tag {
       grid-row: 3;
    }

    .rate {
        font-size: 13px; 
        grid-row: 4;
        left: 1px;
        right: auto;
    }

    .host {
        grid-row: 4;
        top: -19px;
        gap:5px;
    
    }

    .hostName {
        font-size: 19px; 
    }

    .hostPhoto img {
        width: 50px; 
        height: 50px;
        border-radius: 50%;
    }
    .ficheDetails1{
        margin-top: 10px;
        grid-row: 5; 
        grid-column: 1 / span1;
    }
    .ficheDetails2{
        grid-row: 6;
        grid-column: 1 / span1;
    }
    .btnCarosselRight {
        right: 0px; 
    }
    
    .btnCarosselLeft {
        left: 0px; 
    }

}

