.navbar {
    display: flex;
    gap:20px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 34.22px;
    text-align: right;

}

.logo-container img{
    width: 210.32px;
    height: 68px;
}
@media screen and (max-width: 375px) {
   .logo-container{
        width: 30%;
    }
    .logo-container img{
        width: 100%;
    }
    .bar-header{
        gap: 100px;
        align-items: center;
    
    }
    .navbar{
        gap: 14px;
        font-size: 13px;
        flex-wrap: wrap;
    }
}